*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
