// Colors
$color-primary: '';
$color-secondary: '';
$color-tertiary: '';

$color-accent-primary: '';
$color-accent-secondary: '';

$color-primary-hover: '';
$color-accent-primary-hover: '';
$color-accent-secondary-hover: '';

// Fonts
$font-family-primary: '';
$font-family-secondary: '';

$font-size-base: '';
$line-height-base: '';

$font-size-xxl: '';
$line-height-xxl: '';

$font-size-xl: '';
$line-height-xl: '';

$font-size-lg: '';
$line-height-lg: '';

$font-size-md: '';
$line-height-md: '';

$font-size-sm: '';
$line-height-sm: '';

$font-size-xs: '';
$line-height-xs: '';

// Animate
$transition-base: 0.2s;

// Breakpoints
$breakpoint-lg-down: 1330px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 414px - 0.02px;
