// Colors, follow name convention https://codepen.io/nicetransition/pen/QjwbRg

$color-dark-dark: #010101;
$color-dark-dark-contrast: #fff;
$color-dark: #4f4e4e;
$color-dark-contrast: #fff;
$color-dark-light: #808285;
$color-dark-light-contrast: #fff;
$color-dark-accent: #bcbec0;
$color-dark-accent-contrast: #000;
